{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "modules": false
      }
    ],
    [
      "@babel/react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [["@babel/transform-modules-commonjs", { "loose": true }]]
}
